.img-nick-area{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 1.2rem;
}
.img-nick-area .img-and-button .label-img {
    cursor: pointer;
}

.img-nick-area .img-and-button .label-img input{
    display: none;
}

.img-and-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.img-and-button .button-delete-photo{
    padding: 0;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    align-items: center;    
    padding: 16px 24px;
    gap: 12px;
    border: none;
    background-color: var(--AllBlack);
    &:hover{
        transform: scale(0.9);
    }
}
.img-and-button .button-delete-photo svg{
    color: var(--Secundary);
} 
.img-and-button .label-img .userPerfilImg{
    display: flex;
    width: 100px;
    aspect-ratio: 1/1;
    background-color: var(--Gray);
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    object-position: center;
    font-size: 32px;
    position: relative;
    
    &:hover{
        &::before{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: var(-AllBlack);
        }
    }
}

.img-nick-area .type-text{
    width: 100%;
    background-color: var(--Gray);
    padding: 16px;
    border-radius: 5px;
    color: var(--White);
    &::placeholder{
        color: var(--White);
        opacity: 0.5;
    }
    &:focus{
        border: 2px solid var(--White);
    }
}